body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f5;
    color: #222;
    margin: 0;
    padding: 0;
}

<<<<<<< HEAD:lab-2/style.css
=======

>>>>>>> 31c9993 (Lab 2):lab2/style.css
header {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 20px 0;
}

<<<<<<< HEAD:lab-2/style.css
=======

>>>>>>> 31c9993 (Lab 2):lab2/style.css
nav ul {
    list-style-type: none;
    background-color: #333;
    margin: 0;
    padding: 10px;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

<<<<<<< HEAD:lab-2/style.css
=======

>>>>>>> 31c9993 (Lab 2):lab2/style.css
a {
    color: #ffcc00;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #ffd633;
    text-decoration: underline;
}

<<<<<<< HEAD:lab-2/style.css
=======

>>>>>>> 31c9993 (Lab 2):lab2/style.css
main {
    padding: 20px;
    max-width: 800px;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

<<<<<<< HEAD:lab-2/style.css
=======

>>>>>>> 31c9993 (Lab 2):lab2/style.css
figure {
    text-align: center;
    margin: 20px 0;
}

figcaption {
    font-style: italic;
    color: #555;
}

<<<<<<< HEAD:lab-2/style.css
=======

>>>>>>> 31c9993 (Lab 2):lab2/style.css
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

<<<<<<< HEAD:lab-2/style.css
=======

>>>>>>> 31c9993 (Lab 2):lab2/style.css
th {
    background-color: #444;
    color: white;
    text-align: center;
    padding: 8px;
}

td {
    padding: 8px;
    border: 1px solid #999;
}

<<<<<<< HEAD:lab-2/style.css
=======

>>>>>>> 31c9993 (Lab 2):lab2/style.css
td:first-child {
    text-align: left;    
}

td:nth-child(2) {
    text-align: center;  
}

td:last-child {
    text-align: right;   
}

<<<<<<< HEAD:lab-2/style.css
=======

>>>>>>> 31c9993 (Lab 2):lab2/style.css
footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 0.9em;
}

<<<<<<< HEAD:lab-2/style.css
=======

>>>>>>> 31c9993 (Lab 2):lab2/style.css
.highlight {
    background-color: #ffef99;
    padding: 3px;
}
